h2 {
    font-size: 30px;
    margin: 20px;
}

h3 {
    font-size: 25px;
    margin: 20px;
}

input {
    background-color: #f8f3ef;
    border-radius: 10px;
    border: 1px solid darkgray;

    padding: 10px;
    height: 20px;
    width: 100%;
}

.form {
    text-align: left;
}

.mainPtags {
    font-size: 20px;
}

.subPtags {
    font-size: 15px;
}

.submitButton {
    font-size: 33px;
    background-color: #000000;
    margin: 17px 0 0 90px;
    color: white;
    width: 155px;
    height: 65px;
    border-radius: 10px;
}

.repurchase-container {
    display: flex;
    gap: 35px;
}

input[type="checkbox"] {
    /* appearance: none; */

    background-color: #f8f3ef;
    border-radius: 10px;
    border: 1px solid darkgray;
    width: 25px;
}

select {
    background-color: #f8f3ef;
    border-radius: 10px;
    border: 1px solid darkgray;

    padding: 10px;
}

div {
    margin-bottom: 10px;
}

.plus {
    background-color: #f8f3ef;
    border-radius: 10px;
    border: 1px solid darkgray;

    padding: 10px;
    text-align: center;

    width: 23px;
}