.home-icon,
.routine-icon,
.personal-hygiene-icon,
.setting-icon {
    height: 35px;
}

.flex {
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0px;
    width: 80%;
    padding-left: 10px;

    border-top: 1px #000000 solid;
    padding-top: 25px;
}