li {
    list-style: none;
    margin: 15px;
}

.add-routine {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;

    padding: 10px;
    width: 230px;
}

.add-container {
    margin: 15px;
}

.link {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    margin-top: 15px;
}

.girl {
    height: 250px;
    display: block;
    margin: 50px auto;
}

.product-list {
    margin: 50px;
}

.link-container {
    margin-bottom: 90px;
}