.routine {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);

    border-radius: 10px;
    color: #000000;
    margin: 15px;
    padding: 10px;
}

.routine-link {
    text-decoration: none;
}

.woman {
    position: absolute;
    height: 18em;
    bottom: 135px;
    transform: rotate(-45deg);
    right: -30px;
    z-index: -1;
}